@import '@/shared/styles/mixins';
@import '@/shared/styles/variables';

.routeInfo.active {
	opacity: 1;
	pointer-events: all;
}
.routeInfo.ready {
	transform: translateX(0);
}
.routeInfo {
	pointer-events: none;
	z-index: 3;
	background: var(--white-color);
	border-radius: var(--radius-s);
	box-shadow: var(--shadow);
	position: absolute;
	width: 633px;
	right: 24px;
	max-height: calc(100vh - 105px);
	top: 80px;
	transform: translateX(680px);
	opacity: 0;
	transition:
		transform var(--trs-300),
		opacity var(--trs-300);
	padding: 20px 24px;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--accent-color) #ffffff;
	&::-webkit-scrollbar {
		width: 5px;
	}
	@media (max-width: $desktop-sm) {
		right: 16px;
		width: 550px;
		top: 72px;
		max-height: calc(100vh - 92px);
	}
	@media (max-width: $tab) {
		right: 16px;
		width: 360px;
		top: 96px;
		padding: 16px;
	}
	@media (max-width: $tab-sm) {
		max-height: calc(63vh - 92px);

		width: 100%;
		left: 0;
		right: 0;
		top: 49px;
		border-radius: 0 0 var(--radius-s) var(--radius-s);
		box-shadow: var(--shadow-bottom);
		padding: 16px;
	}
}
