@import '@/shared/styles/variables';

.zoom.active {
	transform: translateX(0);
}
.zoom {
	position: absolute;
	z-index: 2;
	display: flex;
	flex-direction: column;
	bottom: 24px;
	left: 24px;
	@media (max-width: $desktop-sm) {
		bottom: 16px;
		left: 16px;
	}
	@media (max-width: $tab-sm) {
		// display: none;
		transition: transform var(--trs-300);
		transform: translateX(-100px);
		bottom: 58px;
	}
}
