@import '@/shared/styles/variables';
@import '@/shared/styles/mixins';

.objectsList.active {
	transform: translateX(0);
	opacity: 1;
	pointer-events: all;
}
.objectsList {
	pointer-events: none;
	background: var(--white-color);
	border-radius: var(--radius-s);
	box-shadow: var(--shadow);
	width: 633px;
	max-height: calc(100vh - 237px);
	position: absolute;
	top: 213px;
	right: 24px;
	transform: translateX(680px);
	transition:
		transform var(--trs-300),
		opacity var(--trs-300);
	padding: 20px 0 24px 20px;
	bottom: 24px;
	z-index: 3;
	opacity: 0;
	@media (max-width: $desktop-sm) {
		right: 16px;
		width: 550px;
		top: 204px;
		bottom: 16px;
		max-height: calc(100vh - 221px);
	}
	@media (max-width: $tab) {
		right: 16px;
		width: 360px;
		top: 243px;
		padding: 16px 0 16px 16px;
	}
	@media (max-width: $tab-sm) {
		top: 49px;
		width: 100%;
		right: 0;
		left: 0;
		border-radius: 0 0 var(--radius-s) var(--radius-s);
		box-shadow: var(--shadow-bottom);
		max-height: calc(80vh - 221px);
		transform: translateX(0);
	}
	.objectListTop {
		display: flex;
		justify-content: space-between;
		padding-right: 24px;
		@media (max-width: $tab) {
			padding-right: 16px;
		}
		.left {
			p {
				color: var(--primary-color);
				font-size: 12px;
				font-weight: 400;
				font-family: 'Onest', sans-serif;
				line-height: 14px;
				letter-spacing: -0.2px;
				@media (max-width: $tab) {
					@include text-xs;
					color: var(--primary-color);
					max-width: 115px;
				}
			}
		}
		.right {
			display: flex;
			align-items: center;
			gap: 32px;
			@media (max-width: $tab) {
				gap: 24px;
				button {
					width: 16px;
					height: 16px;
				}
				svg {
					width: 16px;
					height: 16px;
				}
			}

			.features {
				display: flex;
				align-items: center;
				gap: 16px;
			}
		}
	}
	.objectListContent {
		margin-top: 16px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		overflow-y: auto;
		max-height: calc(100% - 37px);
		scrollbar-width: thin;
		scrollbar-color: var(--accent-color) #ffffff;
		height: 100%;
		padding-right: 12px;
		margin-right: 12px;
		&::-webkit-scrollbar {
			width: 5px;
		}
		@media (max-width: $tab-sm) {
			max-height: calc(97% - 37px);
		}
	}
}
