@import '@/shared/styles/mixins';
@import '@/shared/styles/variables';

.filters.hide {
	opacity: 0;
	pointer-events: none;
}
.filters.left {
	transform: translateX(-642px);
	@media (max-width: $desktop-sm) {
		transform: translateX(-556px);
	}
	@media (max-width: $tab) {
		transform: translateX(-366px);
	}
}
.filters.routeFilterActive {
	background: var(--tertiary-color);
}
.filters {
	position: absolute;
	top: 80px;
	right: 24px;
	background: var(--white-color);
	border-radius: var(--radius-s);
	width: 100%;
	max-width: 633px;
	z-index: 3;
	box-shadow: var(--shadow);
	transition:
		transform var(--trs-300),
		background var(--trs-300),
		opacity var(--trs-300);
	@media (max-width: $desktop-sm) {
		right: 16px;
		top: 72px;
		max-width: 550px;
	}
	@media (max-width: $tab) {
		top: 96px;
		max-width: 360px;
	}
	@media (max-width: $tab-sm) {
		top: 49px;
		border-radius: 0 0 var(--radius-s) var(--radius-s);
		right: 0;
		left: 0;
		max-width: 100%;
		box-shadow: var(--shadow-bottom);
	}
	.filtersTop {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 11px 20px 14px;
		@media (max-width: $tab) {
			padding: 11px 16px 10px;
		}
		@media (max-width: $tab-sm) {
			padding: 0 16px 10px;
		}
		.title {
			display: flex;
			align-items: center;
			gap: 8px;
			.icon {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				padding-right: 14px;
				@media (max-width: $tab) {
					padding-right: 12px;
				}
				@media (max-width: $tab-sm) {
					display: none;
				}
				&:after {
					content: '';
					position: absolute;
					width: 1px;
					height: 24px;
					background: var(--line-color);
					right: 0;
					top: 0;
					@media (max-width: $tab) {
						height: 16px;
					}
				}
				svg {
					@media (max-width: $tab) {
						width: 16px;
						height: 16px;
					}
				}
			}
			p {
				@include text-m;
				margin-left: 7px;
				letter-spacing: 0;
				@media (max-width: $tab) {
					@include text-sm;
				}
				@media (max-width: $tab-sm) {
					margin-left: 0;
				}
			}
		}
		.total {
			@include text-xs;
		}
	}
	.filtersTabs {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 8px;
		padding: 0px 8px 8px;
		@media (max-width: $tab) {
			padding: 0px 4px 4px;
			gap: 4px;
		}
		@media (max-width: $tab-sm) {
			gap: 0;
			padding: 0;
			padding-bottom: 10px;
		}
	}
}
