:root {
	--white-color: #fff;
	--accent-color: #5dafee;
	--accent-hover-color: #2d9bef;
	--primary-color: #50565f;
	--secondary-color: #a7b5c5;
	--tertiary-color: #eff3f7;
	--line-color: rgba(167, 181, 197, 0.3);
	--success-color: #68d197;

	--trs-300: 300ms ease;
	--trs-800: 800ms ease;

	--radius-full: 9999px;
	--radius-s: 8px;
	--radius-xs: 4px;

	--shadow: 0px 0px 10px 0px rgba(80, 86, 95, 0.15);
	--shadow-bottom: 0px 14px 11px -9px rgba(80, 86, 95, 0.15);

	--modal-z: 1000;
}
$desktop-xl: 2000px;
$desktop-lg: 1920px;
$desktop-md: 1440px;
$desktop-md-2: 1400px;
$desktop-sm: 1280px;
$tab: 1024px;
$tab-md: 992px;
$tab-sm: 767px;
$pre-mob: 630px;
$mob: 500px;
