@import '@/shared/styles/variables';

.menu {
	position: absolute;
	top: 24px;
	right: 24px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	width: 633px;
	@media (max-width: $desktop-sm) {
		top: 16px;
		right: 16px;
		width: 550px;
		gap: 4px;
	}
	@media (max-width: $tab) {
		grid-template-columns: repeat(1, 1fr);
		max-width: 360px;
	}
	@media (max-width: $tab-sm) {
		display: none;
	}
}
